<div class="container">
    <div class="well row" ng-repeat="item in data">
        <div class="col-sm-1">
            <h3>{{$index + 1}}</h3>
        </div>
        <div class="col-sm-9">
            <h1><a ng-href="{{item.url}}">{{item.title}}</h1>
            <p><a ng-href="{{item.domain}}">{{item.domain}}</a>
            </p>
            <p>{{item.points}} by {{item.user}} {{item.time_ago}} - {{item.comments_count}} comments</p>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary btn-lg btn-block" ng-href="#/item/{{item.id}}"><span class="glyphicon glyphicon-comment"></span></a>
        </div>
    </div>
</div>
